body{
    background-image: url('../assets/weather_img/b.jpg');
    overflow-x: hidden;
    box-sizing: border-box;
}
.grid-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 2%; 
    height: 100vh; 
    justify-content: center;
    align-items: center; 
    padding: 1%;
    width: 99%;
    box-sizing: border-box;  
}
.current-component{
    width: 66%; 
    height: 45%; 
    background-color: rgba(60,60,60,0.5);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box;  
    animation-duration: 3s;
    animation-name: item-down;
}
.current-component:hover{
    background-color: rgba(70,70,70,0.5);
}

@keyframes item-down {
    from{
        transform: translate(0,-20vh);
        background-color: #202020;
    }
    to{
        transform: translate(0, 0);
        background-color: #606060;
    }
}

.hourly-component{
    width: 32%; 
    height: 45%; 
    background-color: #707070;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(143, 136, 136, 0.9);
    padding: 20px;
    box-sizing: border-box; 
    overflow: auto;
}
.map-component{
    width: 44%; 
    height: 45%; 
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box; 
    overflow: auto;
    transform: rotate(-2deg);
}
.daily-component{
    width: 53%; 
    height:45%; 
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 10px;
    box-sizing: border-box; 
    overflow: hidden;
} 
@media (max-width: 1500px) {
    /* Adjust component widths for smaller screens */   
    .current-component,
    .hourly-component,
    .map-component,
    .daily-component {
        width: 100%;
        height:auto;
        transform: rotate(0deg);
    }
    body{
        background-image: url('../assets/weather_img/b.jpg');

    }
    .current-component{
        order: 1;
    }
    .hourly-component{
        order: 4;
        
    }
    .daily-component{
        order: 2;
    }
    .map-component{
        order: 3;
    }
    .grid-container{
        transform: none;
    }
}

@media (min-width: 1800px) {   

    .grid-container{
        transform: scale(0.8);
       
    }
}

@media (min-width: 2200px) {
   
    .grid-container{
        transform: scale(0.6);
    }
   
}

@media (min-width: 2600px) {   
    
    .grid-container{
        transform: scale(0.4);
    }
   
}




