body{
    background-color: rgb(105, 40, 158);
    overflow-x: hidden;
    width: 100wh;
    height: 100vh;
   
  
}

.grid-container {
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 2%; /* Adjust gap between grid items */
    height: 100vh; /* Take full height of the viewport */ 
    justify-content: center;
    align-items: center; 
    padding: 1%;
    width: 100%;
   
    transform-origin: center; /* zoom scalling effect*/
}
.current-component{
    width: 66%; 
    height: 45%; 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the height */
    overflow: auto;
    
}

.day-component{
    
    width: 32%; 
    height: 45%; 
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(143, 136, 136, 0.9);
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the height */
    overflow: auto;
}
.map-component{
    
    width: 44%; 
    height: 45%; 
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the height */
    overflow: auto;
    transform: rotate(-2deg);
}
.history-component{
    width: 53%; 
    height:45%; 
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the height */
    overflow: auto;
   
}
    
@media (max-width: 1500px) {
    /* Adjust component widths for smaller screens */   
    .current-component {
        width: 100%;
        height: auto;
    }
    .day-component,
    .map-component,
    .history-component {
        width: 100%;
        height:auto;
        transform: rotate(0deg);
    }
    .grid-container{
        transform: none;
    }
   
 
}
